header {
    background-color: goldenrod;
}
.bodytext {
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}
.bodytextpar {
    color: white;
    letter-spacing: 2px;
    font-family: 'Monospace';
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5em;
}
h1 {
    color: goldenrod;
    offset: 100px;
}
.container {
    padding-top: 5rem;
    background-color: black;
    color: gold;
    font-family: sans-serif;
    font-size: 15px;
}
a:link {
    color: red;
}
a:visited {
    color: red;
}
a:hover {
    color: red;
}